<h1>By House</h1>

<div class="Stats BirthYear">
  <div class="Row Header">
    <div><%= link_to "House",        stats_house_path(order: :name) %>    </div>
    <div><%= link_to "Member count", stats_house_path(order: :count) %>  </div>
  </div>
  <% @arr.each do |membership| %>
    <div class="Row <%= cycle("odd", "even") -%>">
      <div class="House">
        <%= membership.name %>
      </div>
      <div class="Count">
        <%= membership.count %>
      </div>
    </div>
<% end %>
</div>
