<!DOCTYPE html>
<html>
  <head>
    <title>IceFireDorren</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="Main">
      <div class="Top">
        <ul class="TopMenu">
          <li><%= link_to "By birth year", stats_birth_year_path %></li>
          <li><%= link_to "House",         stats_house_path %>     </li>
          <li><%= link_to "By Age",        stats_by_age_path %>    </li>
        </ul>
      </div>
      <div class="Content">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
